* {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  background-color: black;
  --liminal2-left: 20px;
  --liminal2-top: 400px;
  --liminal2-height: 228px;
  --liminal2-scale-ratio: 1.4;
  --liminal2-width: 474px;
}

.body {
  margin: auto;

}

h1 {
  margin-left: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  font-size: calc(10px + 1vmin);
}

.roomName {
  color: greenyellow;
  /* font-size: 12px; */
  width: 100%;
  /* display: block; */
  padding: auto;
  /* margin-top: -20px; */
}

/* .map-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 300px;
    background: #ffffff46;
    border: 3px groove yellow;
} */

.map-container {
  /* opacity: 0.5; */
}

.image-map {
  position: absolute;
  left: var(--liminal2-left);
  top: var(--liminal2-top);
  height: calc(var(--liminal2-scale-ratio) * var(--liminal2-height));
  opacity: 0.8;
  cursor: pointer;
  border: solid 2px transparent;
  box-sizing: border-box;
  /* z-index: 0; */
}

.mapInstructions {
  position: absolute;
  left: calc(var(--liminal2-left));
  top: calc(var(--liminal2-top) - 7%);
  color: white;
  font-size: 1.3rem;
}

.defaultRoomName {
  position: absolute;
  left: calc(var(--liminal2-left) + var(--liminal2-width)*var(--liminal2-scale-ratio) - 5%);
  top: calc(var(--liminal2-top) + 5%);
  color: greenyellow;
}

.image-map:hover {
  border: solid 2px purple;
  box-sizing: border-box;
}

/* .map-container:hover > * {
  opacity: 1;
} */


.container {
  position: relative;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
  height: 480px;
  background: beige;
  border: 3px groove yellow;
}

.click-zone.pavle {
  display: none;
}

.click-zone {
  position: absolute;
  cursor: pointer;
  /* z-index: 2; */
  /* border: 1px solid grey; */
}

.click-zone.a {
  left: calc(var(--liminal2-left) + 9px * var(--liminal2-scale-ratio));
  top: calc(var(--liminal2-top) + 10px);
  width: calc(100px * var(--liminal2-scale-ratio));
  height: calc(115px * var(--liminal2-scale-ratio));
  background-color: transparent;
  border: solid 1px transparent;
  /* box-sizing: border-box; */
}

.click-zone.b {
  left: calc(var(--liminal2-left) + 140px * var(--liminal2-scale-ratio));
  top: calc(var(--liminal2-top) + 15px * var(--liminal2-scale-ratio));
  width: calc(165px* var(--liminal2-scale-ratio));
  height: calc(115px* var(--liminal2-scale-ratio));
  background-color: transparent;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone.c {
  left: calc(var(--liminal2-left) + 60px * var(--liminal2-scale-ratio));
  top: calc(var(--liminal2-top) + 140px * var(--liminal2-scale-ratio));
  width: calc(240px* var(--liminal2-scale-ratio));
  height: calc(90px* var(--liminal2-scale-ratio));
  background-color: transparent;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone.d {
  left: calc(var(--liminal2-left) + 360px * var(--liminal2-scale-ratio));
  top: calc(var(--liminal2-top) + 100px * var(--liminal2-scale-ratio));
  width: calc(100px* var(--liminal2-scale-ratio));
  height: calc(100px* var(--liminal2-scale-ratio));
  background-color: transparent;
  /* border: solid 1px blue; */
  border: none;
}

.click-zone:hover {
  border: solid 0.5px purple;
}

.hexagon:hover {
  cursor: pointer;
}

.hexagon {
position: absolute;
width: 70px;
height: 40.41px;
background-color: #64C7CC;
margin: 20.21px 0;
left: 450px;
top: 200px;
}

.hexagon:before,
.hexagon:after {
content: "";
position: absolute;
width: 0;
border-left: 35px solid transparent;
border-right: 35px solid transparent;
}

.hexagon:before {
bottom: 100%;
border-bottom: 20.21px solid #64C7CC;
margin-left: -34px;
}

.hexagon:after {
top: 100%;
width: 0;
border-top: 20.21px solid #64C7CC;
margin-left: -34px;

}

.container2 {
  margin-top: 300px; margin-left: 200px;
}
